* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Prompt", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1440px;
  margin: auto;
  background: hsl(212deg 45% 89%);
  height: 100vh;
}

.card {
  text-align: center;
  padding: 20px 20px 40px;
  max-width: 320px;
  border-radius: 15px;
  background: hsl(0, 0%, 100%);
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(218, 44%, 22%);
  line-height: 1.5;
  max-width: 300px;
  margin: 0 auto 10px;
}

.card p {
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(220, 15%, 55%);
  max-width: 250px;
  margin: auto;
}

.card .br-code-img {
  width: 100%;
  max-width: 275px;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .card h3 {
    font-size: 1.125rem;
  }

  .card p {
    font-size: 0.875rem;
  }
}
